@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-extra uppercase leading-tight tracking-tight;
  }

  h2 {
    @apply text-xxxlarge leading-tight;
  }

  h3 {
    @apply text-xxlarge leading-tight;
  }
  nav {
    @apply text-base uppercase text-primary;
  }

  .text-extra {
    @apply text-3xl font-semibold md:text-4xl;
  }

  .text-xxxlarge {
    @apply text-2xl font-semibold md:text-3xl;
  }

  .text-xxlarge {
    @apply text-xl md:text-2xl;
  }

  .text-xlarge {
    @apply text-lg md:text-xl;
  }

  .text-large {
    @apply text-md md:text-lg;
  }

  .text-medium {
    @apply text-sm md:text-md;
  }

  .text-normal {
    @apply text-sm md:text-base;
  }

  .text-small {
    @apply text-xs md:text-sm;
  }

  .text-xsmall {
    @apply text-xxs md:text-xs;
  }

  .outline-blue {
    color: transparent;
    -webkit-text-stroke: 2px #12145f;
  }

  .outline-red {
    color: transparent;
    -webkit-text-stroke: 2px #e7455b;
  }

  footer {
    @apply bg-white;
  }
}

main {
  @apply space-y-28 lg:space-y-36;
}

@layer components {
  .navs {
    @apply flex gap-x-20 4xl:gap-x-32;
  }


  .sponsors {
    @apply pt-10 text-primary;
  }

  .banner {
    @apply flex items-center justify-between  px-10 py-5;
  }

  .goalTag {
    @apply md:text-[60px] lg:text-[80px] xl:text-[100px] 2xl:text-[130px]
  }
  .teamTag {
    @apply md:text-[40px] lg:text-[50px] 2xl:text-[80px]
  }

  .max-w-container {
    @apply mx-auto w-full max-w-[1440px] px-10 
  }

  .ajust-y {
    @apply py-10
  }

  .ajust-x {
    @apply px-10
  }

  .zoom {
    @apply hover:scale-105 duration-300 ease-in cursor-pointer
  }

}
